.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
  padding-bottom: 4rem;
}

.contact-background {
  position: relative;
  width: 100%;
  height: 23.7rem;
  background-color: darkgray;
}

.contact-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-box {
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 77.5%;
  height: 10rem;
  opacity: 0.9;
}

.contact-titles,
.contact-datas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  text-align: center;
}

.contact-datas a:hover {
  cursor: pointer;
}

.contact-title {
  font-size: var(--size-regular);
  width: 14%;
}

.contact-data {
  width: 14%;
  white-space: pre-line;
}

.follow-socials {
  width: 14%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.social-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  background-color: black;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.fa-facebook-f {
  font-size: var(--size-small-plus1);
}

.contact-maps {
  width: 78%;
  height: 22rem;
  background-color: darkgray;
}

.contact-maps iframe {
  filter: grayscale(100%);
}
