<div class="homepage-image-div">
  <div class="home-images">
    <div class="home-images-track" [style.transform]="'translateX(-' + imageIndex * 100 + '%)'"
         [style.transition]="isAnimating ? 'transform 2s cubic-bezier(.87, 0, .13, 1)' : 'none'">
      <div class="home-image" *ngFor="let project of loopedProjects">
        <img [src]="project.image" [alt]="project.image.toString()" loading="eager" decoding="async">
        <h1>{{ project.project.name[currentLang] }}</h1>
      </div>
    </div>
  </div>
  <div class="home-image-arrows">
    <span (click)="previousProject()">‹</span>
    <span (click)="nextProject()">›</span>
  </div>
  <div class="home-image-stop-count">
    <!--    <span class="home-image-stop">||</span>-->
    <i *ngIf="!isPaused" class="fa-solid fa-pause" (click)="pauseAutoSlide()"></i>
    <i *ngIf="isPaused" class="fa-solid fa-caret-right" (click)="resumeAutoSlide()"></i>
    <span class="home-image-count">{{ displayIndex }}/{{ numberOfImages }}</span>
  </div>
</div>
