<div class="homepage-image-div">
  <div class="home-images">
    <div class="home-images-track" [style.transform]="'translate3d(-' + imageIndex * 100 + '%, 0, 0)'"
         [style.transition]="isAnimating ? 'transform 2s cubic-bezier(.87, 0, .13, 1)' : 'none'"
         (transitionend)="onTransitionEnd()">
      <div class="home-image" *ngFor="let project of loopedProjects">
        <img [src]="project.image" [alt]="project.image.toString()" loading="lazy" decoding="async"
             (click)="openGallery(homePageProjects.indexOf(project))">
        <h2>{{ project.project.name[currentLang] }}</h2>
      </div>
    </div>
  </div>
  <span class="home-image-arrow-left" (click)="previousProject()">‹</span>
  <span class="home-image-arrow-right" (click)="nextProject()">›</span>
  <div class="home-image-stop-count">
    <!--    <span class="home-image-stop">||</span>-->
    <i *ngIf="!isPaused" class="fa-solid fa-pause" (click)="pauseAutoSlide()"></i>
    <i *ngIf="isPaused" class="fa-solid fa-caret-right" (click)="resumeAutoSlide()"></i>
    <span class="home-image-count">{{ displayIndex }}/{{ numberOfImages }}</span>
  </div>
  <div *ngIf="isGalleryOpen" class="home-gallery-wrapper fullscreen-overlay">
    <span class="home gallery-close" (click)="closeGallery()">×</span>
    <span class="gallery-arrow-left" (click)="previousGalleryProject()">‹</span>
    <span class="gallery-arrow-right" (click)="nextGalleryProject()">›</span>
    <div class="home-gallery-div"
         (wheel)="onWheel($event)"
         (pointerdown)="onPointerDown($event)"
         (pointermove)="onPointerMove($event)"
         (pointerup)="onPointerUp($event)"
         (pointercancel)="onPointerUp($event)">
      <!-- current image -->
      <div class="gallery-image-container"
           [class.fading-out]="isFadingOut"
           [class.fading-in]="isFadingIn || (!isFadingOut && !isGalleryAnimating)">
        <img
          [src]="homePageProjects[currentGalleryIndex].image"
          [alt]="homePageProjects[currentGalleryIndex].image.toString()"
        />
        <h1 class="home-gallery-name"
            [routerLink]="['/projects', homePageProjects[currentGalleryIndex].project.slug]"
            (click)="closeGallery()">
          {{ homePageProjects[currentGalleryIndex].project.name[currentLang] }}
        </h1>
      </div>
    </div>
  </div>
</div>
