<div class="pp-div">
  <div class="pp-main-image">
    <img [src]="mainImage" [alt]="mainImage.toString()">
  </div>
  <div class="pp-text-div">
    <div class="pp-text-data">
      <h1 class="pp-name">{{ project.shortDescription[currentLang] }}</h1>
      <span class="pp-architects">{{ archName[currentLang] + project.architects[currentLang] }}</span>
      <span *ngIf="project.photographers"
            class="pp-photos">{{ photoName[currentLang] + project.photographers[currentLang] }}</span>
      <span class="pp-location">{{ project.location[currentLang] }}</span>
      <span class="pp-year">{{ project.year[currentLang] }}</span>
    </div>
    <div class="pp-text-description" [class.two-part]="project.longDescription[currentLang].length == 2">
      <span *ngFor="let part of project.longDescription[currentLang]">{{ part }}</span>
    </div>
  </div>
  <div class="pp-image-grid">
    <div class="pp-image-grid-item" *ngFor="let image of projectImages" (click)="openGallery(projectImages.indexOf(image))">
      <img [src]="image" [alt]="image.toString()">
      <div class="pp-image-grid-hover"></div>
    </div>
  </div>
  <div *ngIf="isGalleryOpen" class="pp-gallery fullscreen-overlay">
    <span class="pp gallery-close" (click)="closeGallery()">×</span>
    <span class="gallery-arrow-left" (click)="previousGalleryProject()">‹</span>
    <span class="gallery-arrow-right" (click)="nextGalleryProject()">›</span>
    <div class="pp-gallery-div">
      <img [src]="projectImages[galleryIndex]" [alt]="projectImages[galleryIndex].toString()">
    </div>
  </div>
</div>
