<div class="main-container">
  <header>
    <nav class="navbar">
      <a class="negyplusz" [routerLink]="['/']">{{ navFooText.headerBrand[currentLang] }}</a>
      <div class="nav-right">
        <ul class="nav-list">
          <li><a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">{{ navFooText.home[currentLang] }}</a></li>
          <li><a [routerLink]="['/studio']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">{{ navFooText.studio[currentLang] }}</a></li>
          <li class="li-project">
            <a [routerLink]="['/projects']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false}">{{ navFooText.projects[currentLang] }}</a>
            <div class="project-types">
              <a *ngFor="let type of projectTypes[currentLang]" [routerLink]="['/projects', type.route]" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">{{ type.name }}</a>
            </div>
          </li>
          <li><a [routerLink]="['/publications']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">{{ navFooText.publications[currentLang] }}</a></li>
          <li><a [routerLink]="['/contact']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">{{ navFooText.contact[currentLang] }}</a></li>
        </ul>
        <div class="socials-header">
          <div class="facebook">
            <a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/4plusz"></a>
          </div>
          <div class="instagram">
            <a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/4plusz/"></a>
          </div>
        </div>
        <div class="language">
          <button class="bt-hu" [class.active]="currentLang === 'hu'" (click)=switchToHungarian()>HU</button>
          <button [class.active]="currentLang === 'en'" (click)=switchToEnglish()>EN</button>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer>
    <div class="footer-contact-div">
      <h3 class="footer-name" [routerLink]="['/contact']">{{ navFooText.footerBrand[currentLang] }}</h3>
      <span>{{ navFooText.phone[currentLang] }}</span>
      <span class="footer-address" (click)="openMaps()">{{ navFooText.address[currentLang] }}</span>
      <div class="socials-footer">
        <div class="facebook">
          <a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/4plusz"></a>
        </div>
        <div class="instagram">
          <a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/4plusz/"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
