.main-container {
  position: relative;
  padding-top: 10vh;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--backgroundColor);
  z-index: 100;
  font: var(--menuFont);
}

.navbar * {
  background: transparent;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a, button {
  cursor: pointer;
}

.nav-right {
  margin-right: 5%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}

.negyplusz {
  position: absolute;
  left: 6%;
  letter-spacing: 0.15rem;;
  font: var(--brandFont);
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font: var(--menuFont);

  a {
    color: var(--menuColor);
  }

  a:hover {
    color: black;
  }

  a.active-link {
    color: black;
  }
}

.socials-header {
  display: flex;
  margin-right: -0.8rem;
  gap: 0.6rem;
  font-size: 0.9rem;
}

footer {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.footer-contact-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
}

.footer-contact-div a {
  text-decoration: none;
  color: black;
}

.footer-name{
  font-weight: bold;
  cursor: pointer;
}

.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.language {
  display: flex;
  color: var(--menuColor);

  button {
    height: 2rem;
    width: 3rem;
    border: none;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--languageColor);
  }

  button:hover {
    color: var(--languageHoverColor);
  }

  button.active {
    color: var(--languageActiveColor);
  }

  .bt-hu {
    border-right: 1px solid var(--languagePipeColor);
  }
}
