.main-container {
  position: relative;
  padding-top: 10vh;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--backgroundColor);
  z-index: 100;
}

.navbar * {
  background: transparent;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a, button {
  cursor: pointer;
}

.nav-right {
  margin-right: 5%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
  letter-spacing: 0.3px;
}

/*@media (max-width: 700px) {
  .nav-right {
    display: none;
  }
}*/

.negyplusz {
  position: absolute;
  left: 6%;
  letter-spacing: 0.15rem;;
  font: var(--brandFont);
}

.nav-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-list a {
  color: var(--menuColor);
  font: var(--menuFont);
}

.nav-list a:hover,
.nav-list a.active-link {
  color: black;
}

.li-project {
  position: relative;
}

.li-project:hover .project-types {
  display: flex;
}

.project-types {
  z-index: 2000;
  position: absolute;
  top: 1rem;
  right: -0.5rem;
  width: max-content;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 4px 4px 4px 4px;
  background: white !important;
  border-top: white solid 1.3rem;
}

.project-types a {
  width: 100%;
  text-align: right;
  text-decoration: none;
  color: var(--menuColor);
}

.project-types a:hover,
.project-types a.active-link {
  color: black;
}

.socials-header {
  display: flex;
  align-items: center;
  margin-right: -0.8rem;
  gap: 0.6rem;
}

.facebook,
.instagram {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram a {
  font-size: var(--size-regular);
}

.socials-footer .facebook a {
  font-size: var(--size-regular);
}

.socials-footer .instagram a {
  font-size: var(--size-regular-plus2);
}

footer {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.footer-contact-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: black;
}

.footer-contact-div a {
  text-decoration: none;
  color: black;
}

.footer-name {
  font-size: var(--size-regular-plus1);
  cursor: pointer;
  margin: 0;
}

.footer-address:hover {
  cursor: pointer;
  font-weight: var(--weight-regular);
}

.socials-footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials-footer .facebook,
.socials-footer .instagram {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  display: flex;
  align-items: center;
  color: var(--menuColor);
}

.language button {
  height: 2rem;
  width: 3rem;
  border: none;
  font-size: var(--size-small-min1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--languageColor);
}

.language button:hover {
  color: var(--languageHoverColor);
}

.language button.active {
  color: var(--languageActiveColor);
}

.language .bt-hu {
  border-right: 1px solid var(--languagePipeColor);
}
