.publications-div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
}

.publications-background {
  position: relative;
  width: 100%;
  height: 25.9rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.publications-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publications-titles {
  position: absolute;
  width: 77.3%;
  height: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background-color: white;
}

.publications-titles h1 {
  margin-left: 3.3rem;
  font-size: 2.1875rem;
  margin-bottom: 0.3rem;
}

.publications-subtitle {
  margin-left: 3.3rem;
}

.publications-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.publication-item:nth-child(even) .publication-item-width {
  flex-direction: row-reverse;
}

.publication-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77.3%;
  height: max-content;
  padding: 2.5rem 0;
  border-bottom: black solid 1px;
}

.publication-item-width {
  width: 92%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3.9rem;
}

.item-image-div {
  width: 41.8%;
  aspect-ratio: 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.item-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-text-div {
  width: 51%;
  align-self: flex-start;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item-text-div-title {
  margin-bottom: 0.5rem;
}

.item-text-div a {
  text-decoration: none;
}

.item-text-div h3 {
  margin: 0;
  cursor: pointer;
  color: black;
}

.item-text-div-snippet {
  width: 90%;
  margin-top: 2.3rem;
  font-size: var(--size-small);
  font-weight: var(--weight-regular);
  line-height: 1.5rem;
  white-space: pre-line;
}

@media (hover: none) and (pointer: coarse) {
  .publication-item {
    width: 90%;
  }

  .publication-item-width {
    gap: 2rem;
  }

  .item-text-div {
    margin-top: 0;
    align-self: center;
  }

  .item-image-div {
    width: 45%;
  }

  .item-text-div-title {
    line-height: 1.2;
    margin-top: 0;
  }

  .item-text-div-snippet {
    margin-top: 1.5rem;
    font-size: var(--size-small-plus1);
    line-height: 1.4;
  }
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait) {
  .publications-div {
    gap: 1rem;
  }

  .publications-titles {
    width: 90%;
    /*border: black solid 1px;*/
    transform: translateY(30%);
  }

  .publications-titles h1,
  .publications-subtitle {
    margin-left: 1rem;
  }

  .publication-item:nth-child(1n) .publication-item-width {
    flex-direction: column-reverse;
  }

  .publication-item-width {
    width: 97%;
    gap: 1rem;
  }

  .item-image-div,
  .item-text-div {
    width: 100%;
  }

  .item-image-div {
    aspect-ratio: auto;
  }

  .item-image-div img {
    height: auto;
  }

}
