.publications-div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
}

.publications-background {
  position: relative;
  background-color: bisque;
  width: 100%;
  height: 25.9rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.publications-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publications-titles {
  position: absolute;
  width: 77.3%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.publications-title {
  margin-left: 3.3rem;
  margin-top: 6.1rem;
  font-size: 35px;
  font-weight: 500;
}

.publications-subtitle {
  margin-left: 3.3rem;
  font-size: 14px;
}

.publications-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.publication-item:nth-child(even) .publication-item-width {
  flex-direction: row-reverse;
}

.publication-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77.3%;
  height: 26rem;
  border-bottom: black solid 2px;
}

.publication-item-width {
  width: 92%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3.9rem;
}

.item-image-div {
  width: 41.8%;
  height: 17.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  background-color: darkgray;
}

.item-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-text-div {
  width: 51%;
  align-self: flex-start;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item-text-div-title {
  margin-bottom: 0.5rem;
}

.item-text-div-title,
.item-text-div-site {
  font-weight: 500;
}

.item-text-div-site {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.item-text-div-snippet {
  width: 80%;
  margin-top: 2.3rem;
  font-size: 13px;
  line-height: 1.5rem;
  white-space: pre-line;
}
