<div class="studio-div">
  <div class="part1">
    <a class="part1-brand" routerLink="/contact">{{ studio.brand[currentLang] }}</a>
    <h2 class="part1-title">{{ studio.part1Title[currentLang] }}</h2>
    <div class="part1-text">
      <span class="part1-text-left">{{ studio.part1Text[currentLang][0] }}</span>
      <span class="part1-text-right">{{ studio.part1Text[currentLang][1] }}</span>
    </div>
  </div>

  <div class="part-divider"></div>

  <div class="part2">
    <h2 class="part2-title">{{ studio.part2Title[currentLang] }}</h2>
    <div class="part2-text">
      <a *ngFor="let line of studio.part2Text[currentLang]">{{ line }}</a>
    </div>
  </div>

  <div class="part-divider"></div>

  <div class="part3">
    <div class="part3-left">
      <div class="part3-top-part">
        <h2 class="part3-name">{{ studio.part3Name[currentLang] }}</h2>
        <div class="part3-name-text">
          <span>{{ studio.part3NameText[currentLang][0] }}</span>
          <span class="part3-name-text-2">{{ studio.part3NameText[currentLang][1] }}</span>
        </div>
      </div>
      <div class="part3-bottom-part">
        <h2 class="part3-title">{{ studio.part3Title[currentLang] }}</h2>
        <span class="part3-title-text">{{ studio.part3TitleText[currentLang] }}</span>
      </div>
    </div>
    <div class="part3-right">
      <img src="{{ studio.part3ImageURL }}" alt="berzsi kep">
    </div>
  </div>
</div>
