:root {
  --brandFont: normal 200 16px 'Oswald-extralight', 'Oswald', sans-serif;
  --menuColor: rgb(105, 105, 105);
  --backgroundColor: white;
  --languageActiveColor: rgb(254, 97, 97);
  --languagePipeColor: rgb(230, 224, 211);
  --languageColor: rgb(51, 51, 51);
  --languageHoverColor: rgb(149, 149, 149);
  --gridTextColor: #696969;
}

html, body {
  height: 100%;
  margin: 0;
}

span, a {
  /*font: normal 12px 'Futura LT W01 Medium', 'Futura', sans-serif;*/
  font: normal 100 11px 'Roboto', sans-serif;
}

h1 {
  font: 22px 'Oswald', sans-serif;
}

h2 {
  font: 18px 'Oswald', sans-serif;
}
