:root {
  --menuColor: #696969;
  --backgroundColor: white;
  --languageActiveColor: rgb(254, 97, 97);
  --languagePipeColor: rgb(230, 224, 211);
  --languageColor: rgb(51, 51, 51);
  --languageHoverColor: rgb(149, 149, 149);
  --gridTextColor: #696969;

  --brandFont: var(--weight-extralight) var(--size-regular) var(--font-oswald);
  --menuFont: var(--weight-regular) var(--size-small-min1) var(--font-roboto);

  --font-roboto: 'Roboto', sans-serif;
  --font-oswald: 'Oswald', sans-serif;

  --weight-roboto-superlight: 100;
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* text sizes */
  --size-small-min1: 11px;
  --size-small: 12px;
  --size-small-plus1: 13px;
  --size-small-plus2: 14px;
  --size-regular-min1: 15px;
  --size-regular: 16px;
  --size-regular-plus1: 17px;
  --size-regular-plus2: 18px;
  --size-large: 20px;
  --size-large-plus2: 22px;

  --size-gallery-close: 3rem;
  --size-gallery-arrow: 5rem;

  -webkit-font-smoothing: antialiased; /* for Chrome/Safari on macOS */
  -moz-osx-font-smoothing: grayscale;  /* for Firefox on macOS */
}

html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span, a {
  font: var(--weight-light) var(--size-small-plus2) var(--font-roboto);
}

h1 {
  font: var(--weight-medium) var(--size-large-plus2) var(--font-oswald);
}

h2 {
  font: var(--weight-medium) var(--size-large) var(--font-oswald);
}

h3 {
  font: var(--weight-medium) var(--size-regular-plus2) var(--font-oswald);
}

.gallery-close {
  position: absolute;
  top: 0;
  right: 2.7rem;
  height: 3.4rem;
  width: 3rem;
  color: white;
  font-size: var(--size-gallery-close);
  cursor: pointer;
  text-align: center;
}

.gallery-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  color: white;
}

.gallery-arrows span {
  width: 4rem;
  height: 7rem;
  font-size: var(--size-gallery-arrow);
  cursor: pointer;
  text-align: center;
}
